<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/finalizando.css">   
    <title>Document</title>
</head>
<body>
    {{#each user}}
    <header>

        <a href="/{{token}}">
            
            <div class="menu">
                <p>Ops, estamos fechados no momento.</p>
            </div>
        
        </a>
           
    </header>
    {{/each}}
</body>
</html>