<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/info.css">

    <title>Document</title>
</head>
<body>
    <header>
            {{#each infoDelivery}}
            <h4>{{nome}}</h4>
            

            <div id="voltar">
                <a href="/">Voltar</a>
            </div>

          
            <div class="menu">
                <p>Mais sobre</p>
                <textarea name="" id="" cols="30" rows="10" disabled>{{informacao}}</textarea>
            </div>
            {{/each}}
    </header>
</body>
</html>