<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/login.css">
    <title>Document</title>
</head>
<body>
     <header>
            {{#each infoDelivery}}
            <h4>{{nome}}</h4>
            {{/each}}

           <div id="horario">
                 <p>Crie sua conta ou faça o login para continuar pedindo!</p>
           </div>

           <div id="voltar">
                <a href="/">Voltar</a>
           </div>

            <a href="/criarConta">
                <div class="menu">
                    <p>Criar conta</p>
                </div>
            </a>

            <div class="menu">
                
                <form action="/Logar/conta" method="post" id="entrar">
                    <p>E-mail</p>
                <input type="text" placeholder="email cadastrado" name="email" id="email">
                    <p>Senha</p>
                <input type="password" placeholder="senha vinculada" name="senha" id="senha">
                    <p id="msg"></p>
                    <button>Entrar</button>
                    <a href="/recCoutn" id="rec">Recuperar conta.</a>
                </form>

            </div>



    </header>
</body>
<script src="/views/js/loginUser.js"></script>
</html>